<div class="form-container">
  <form action="#" class="form">
    <div class="field-v-container">
      <div class="field-container">
        <label for="first-name" class="label"> First Name </label>
        <input name="users[first_name]" class="field" id="first-name"/>
      </div>

      <div class="field-container">
        <label for="last-name" class="label"> Last Name </label>
        <input name="users[last_name]" class="field" id="last-name"/>
      </div>
    </div>
    <div class="field-container">
      <label for="email-address" class="label"> Email address </label>
      <input name="users[email_address]" class="field" id="email-address"/>
    </div>

    <div class="field-container">
      <label for="documents" class="label"> Document upload</label>
      <input type="file" name="users[documents]" class="field" id="documents"/>
    </div>
    <div class="form-actions">
      <button type="submit" class="button"> Submit form </button>
    </div>
  </form>
</div>