<a href="#" class="button"> Standard button </a>
<a href="#" class="dark-button"> Dark button </a>
<a href="#" class="primary-button"> Primary button </a>
<a href="#" class="secondary-button"> Secondary button </a>
<a href="#" class="danger-button"> Danger button </a>