<div class="preview-sidebar">
  <h5 class="preview-sidebar-header"> Browse components </h5>
  <a href="#buttonSection" class="preview-sidebar-link"> Button's </a>
  <a href="#badgeSection" class="preview-sidebar-link"> Badge's </a>
  <a href="#cardSection" class="preview-sidebar-link"> Card's </a>
  <a href="#alertSection" class="preview-sidebar-link"> Alert's </a>
  <a href="#modalSection" class="preview-sidebar-link"> Modal's </a>
  <a href="#dropdownSection" class="preview-sidebar-link"> Dropdown's </a>
  <a href="#navbarSection" class="preview-sidebar-link"> Navbar's </a>
</div>
<div class="header-content-section">
  <h1 class="preview-header"> MVP UI </h1>
  <p class="preview-subheader"> A minimal css library - made for launching apps fast </p>
</div>