* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --preview-sidebar-width: 250px;
}

.preview-header {
  font-size: 40px;
}

.preview-subheader {
  font-size: 24px;
}

.header-content-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc(100% - var(--preview-sidebar-width));
  margin-left: auto;
  padding: 4rem 32px 0px 32px;
}

.components-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc(100% - var(--preview-sidebar-width));
  margin-left: auto;
  margin-top: 5rem;
  padding: 0px 32px 0px 32px;
}

.component-v-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  div {
    position: static;
  }
}

.component-header {
  font-size: 30px;
  padding-bottom: 10px;
}

.component-subheader {
  font-size: 18px;
  padding-bottom: 24px;
}

.component-code {
  width: 100%;
  padding: 16px;
  margin-top: 2rem;
  resize: none;
}

.preview-sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: var(--preview-sidebar-width);
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgb(234, 234, 234);
}

.preview-sidebar-header {
  font-size: 24px;
  font-weight: normal;
}

.preview-sidebar-link {
  font-size: 24px;
  color: black;
}

/* Mobile responsive CSS */

@media only screen and (max-width: 600px) {
  .preview-sidebar {
    display: none;
  }

  .header-content-section, .components-container {
    width: 100%;
  }
}
