<span class="badge"> Standard badge </span>
<span class="dark-badge"> Dark badge </span>
<span class="primary-badge"> Primary badge </span>
<span class="secondary-badge"> Secondary badge </span>
<span class="danger-badge"> Danger badge </span>