<div class="components-container">
  <h3 class="component-header"> Badge components </h3>
  <p class="component-subheader"> prebuilt badge components for your app </p>
  <div class="component-v-container">
    <%= render "badge_components/badges" %>
  </div>
  <textarea class="component-code" readonly="true" style="height: 200px;"><%= render "badge_components/badges" %></textarea>
</div>