.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--mvp-ui-black);
  color: var(--mvp-ui-black);
  font-size: 20px;
  padding: 10px;
  width: 100%;

  a:nth-child(1) {
    font-size: 28px;
  }

  a {
    text-decoration: none;
    color: var(--mvp-ui-black);
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 24px;

    a:nth-child(1) {
      font-size: 20px;
    }
  }
}