<div class="card" style="width:400px;">
  <img src="/canyon.jpg" class="card-image"/>
  <h4 class="card-title">Basic card</h4>
  <div class="card-body"> 
    <p> Hey this is an example of a card body. </p>
  </div>
  <div class="card-footer">
    <a href="#" class="button"> Standard button </a>
  </div>
</div>