.card {
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  
  .card-image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 8px;
  }

  .card-title {
    font-size: 24px;
    padding: 10px;
  }

  .card-body {
    font-size: 20px;
    padding: 10px;
  }

  .card-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}